0621

In [ ]:
# 기본 베이스 코드

import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm


# 한글 깨짐 방지
 
%config InlineBackend.figure_format = 'retina'
 
!apt -qq -y install fonts-nanum
 
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

#save_image를 위한 plotly 설치

!pip install plotly==4.4.1
!wget https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage -O /usr/local/bin/orca
!chmod +x /usr/local/bin/orca
!apt-get install xvfb libgtk2.0-0 libgconf-2-4

에너지 평균을 시각화

#데이터 준비하기

In [2]:
df=pd.read_excel('energy.xlsx')

In [3]:
df.head()

                 dttm   weekday        day  ...        난방        조명        기타
0 2018-12-01 00:15:00  Saturday 2018-12-01  ...  1.400422  1.370104  1.943357
1 2018-12-01 00:30:00  Saturday 2018-12-01  ...  1.438566  1.407422  1.996293
2 2018-12-01 00:45:00  Saturday 2018-12-01  ...  1.400422  1.370104  1.943368
3 2018-12-01 01:00:00  Saturday 2018-12-01  ...  1.400422  1.370104  1.943379
4 2018-12-01 01:15:00  Saturday 2018-12-01  ...  1.367728  1.338117  1.898016

[5 rows x 15 columns]

In [4]:
df.info() # 각 컬럼이 어떤 데이터 타입을 갖고 있는지 확인하기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32159 entries, 0 to 32158
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dttm             32159 non-null  datetime64[ns]
 1   weekday          32159 non-null  object
 2   day              32159 non-null  datetime64[ns]
 3   month            32159 non-null  int64
 4   time             32159 non-null  object
 5   avg_temperature  32159 non-null  float64
 6   min_temperature  32159 non-null  float64
 7   max_temperature  32159 non-null  float64
 8   wclass           32159 non-null  object
 9   환기               32159 non-null  float64
 10  콘센트              32159 non-null  float64
 11  냉방               32159 non-null  float64
 12  난방               32159 non-null  float64
 13  조명               32159 non-null  float64
 14  기타               32159 non-null  float64
dtypes: datetime64[ns](2), float64(9), int64(1), object(3)
memory usage: 3.7+ MB

In [ ]:
fig = px.scatter(df, x='month', y='avg_temperature')
fig.show()

# legend()를 안 붙여도 차트에 정보가 표시됨
# 오타 조심하기
# x, y를 정의하면 그걸 기준으로 차트가 그려짐
# px = plotly.express라는 라이브러리/ 빠르게 무언가를 그릴 수 있도록 제공하는 차트
# 마우스 커서 가져다대면 관련 정보가 나온다

위의 그래프에 요일 추가하기

In [ ]:
# 요일 추가하기
fig = px.scatter(df, x='month', y='avg_temperature', color='weekday') #요일마다 컬러를 다르게 칠함
fig.show()

*같은 데이터와 데이터셋이어도 어떤 라이브러리를 쓰느냐에 따라 결과가 달라진다*

In [ ]:
df = df[['day', '환기', '콘센트', '냉방', '난방', '조명', '기타']]
df.head()

In [ ]:
df.info()
# day의 datetime 형식 확인하기 datetime이냐 아니냐에 따라 처리방식이 달라짐(?)
# 데이터셋에 non-null/ null 있는지 확인하기

1. 환기 데이터

In [ ]:
# go 라이브러리 = plotly.graph_objects
# 내 데이터가 잘 그려지는 라이브러리로 그래프를 그려라
# 한글깨짐 없어도 한글 잘 써짐


fig = go.Figure(go.Scatter(
    x = df['day'],
    y = df['환기'], #여기 ,(콤마)  있어도 되고 없어도 됨
))
fig.update_layout(title_text='날짜별 환기 그래프')
fig.show()

# 9월에 경기가 많아서 환기 데이터 수치가 큼

그래프 색깔 바꿔보기

In [ ]:
# 라인 색상 변경

fig = go.Figure(go.Scatter(
    x = df['day'],
    y = df['환기'],
    line_color = 'green' #x축, y축 선언한 후에 line_color 넣기
))
fig.update_layout(title_text='날짜별 환기 그래프')
fig.show()

In [11]:
# 차트 이미지 저장
fig.write_image('날짜별 환기 그래프.png')

# 이미지 저장하면 한글 깨짐 발생함

In [12]:
# 파이차트 그리기
fig = px.pie(df, values='환기', names='month', title='월별 환기 에너지 파이차트') 
fig.show()
#values = > 어떤 데이터를 가져올건지/ names => 어떤 기준으로 차트를 보고 싶니?



##<<<<<<<오류 발생>>>>>>>>>>
# #ValueError: Value of 'names' is not the name of a column in 'data_frame'.
# Expected one of ['day', '환기', '콘센트', '냉방', '난방', '조명', '기타'] but received: month
# ====> 데이터셋에 month가 없는데 왜 계속 month를 요구하냐는 에러가 뜬다.

ValueError: ignored

In [ ]:
# 파이차트 그리기
## 위처럼 오류가 나서 df를 다시 불러옴

df=pd.read_excel('energy.xlsx')
fig = px.pie(df, values='환기', names='month', title='월별 환기 에너지 파이차트') 
fig.show()

In [14]:
# 이미지 파일로 저장하기
fig.write_image('월별 환기 에너지 파이차트.png')
#### 이번에도 저장해서 열어보니 한글 깨짐이 발생함 => 그래서 한글깨짐 방지 코드를 추가로 넣었음(맨 위)

2. 콘센트 데이터

In [ ]:
# 라인 색상 변경

fig = go.Figure(go.Scatter(
    x = df['day'],
    y = df['콘센트'],
    line_color = 'green' #x축, y축 선언한 후에 line_color 넣기
))
fig.update_layout(title_text='날짜별 콘센트 그래프')
fig.show()

In [ ]:
fig = px.pie(df,
             values='콘센트',
             names='month',
             title='월별 콘센트 에너지 파이차트')

fig.show()

3. 냉방 데이터

In [ ]:
fig = go.Figure(go.Scatter(
    x = df['day'],
    y = df['냉방'],
    line_color = 'black' #x축, y축 선언한 후에 line_color 넣기
))
fig.update_layout(title_text='날짜별 냉방 막대그래프')
fig.show()

In [ ]:
fig = px.pie(df,
             values='냉방',
             names='month',
             title='월별 콘센트 에너지 파이차트')

fig.show()

4. 난방 데이터

In [ ]:
fig = go.Figure(go.Scatter(
    x = df['day'],
    y = df['난방'],
    line_color = 'red' #x축, y축 선언한 후에 line_color 넣기
))
fig.update_layout(title_text='날짜별 냉방 막대그래프')
fig.show()

In [ ]:
fig = px.pie(df,
             values='난방',
             names='month',
             title='월별 난방 에너지 파이차트')

fig.show()

#5, 6, 7, 8, 9는 난방을 전혀 하지 않았다(0%)

5. 조명 데이터

In [ ]:
fig = go.Figure(go.Scatter(
    x = df['day'],
    y = df['조명'],
    line_color = 'red' #x축, y축 선언한 후에 line_color 넣기
))
fig.update_layout(title_text='날짜별 조명 막대그래프')
fig.show()

In [22]:
# 이미지 파일로 저장하기
fig.write_image('날짜별 조명 막대그래프.png')

In [ ]:
fig = px.pie(df,
             values='조명',
             names='month',
             title='월별 조명 에너지 파이차트')

fig.show()

In [24]:
# 이미지 파일로 저장하기
fig.write_image('월별 조명 에너지 파이차트.png')

6. 기타

In [ ]:
fig = go.Figure(go.Scatter(
    x = df['day'],
    y = df['기타'],
    line_color = 'purple' #x축, y축 선언한 후에 line_color 넣기
))
fig.update_layout(title_text='날짜별 기타 막대그래프')
fig.show()

In [26]:
# 이미지 파일로 저장하기
fig.write_image('날짜별 기타 막대그래프.png')

In [ ]:
fig = px.pie(df,
             values='기타',
             names='month',
             title='월별 기타 에너지 파이차트')

fig.show()

In [28]:
# 이미지 파일로 저장하기
fig.write_image('월별 기타 에너지 파이차트.png')

#10월달의 토요일 에너지 현황을 분석

In [ ]:
df1 =  df[(df.month == 10) & (df.weekday =='Saturday')]
#여러 가지 조건이 있을 때 우선 순위를 정하기 위해 ()로 감쌈

# 1) 실제 데이터 셋을 확인 df or df1.head() or tail() 활용
df1

In [ ]:
df1.info()

10월달의 토요일 에너지 현황을 분석 -> 1. 환기

In [ ]:
#bar chart 그려보기

fig = go.Figure(go.Bar(
    x = df1['day'],
    y = df1['환기'],
))
fig.update_layout(title_text='10월 토요일 환기 막대그래프')
fig.show()

본인이 가장 좋아하는 월중에 하나를 선택해서 모든 요일에 대한 전체 그래프 그리기

In [32]:
df2 = df[df.month==5]

In [ ]:
df2.info()

In [ ]:
fig = go.Figure()
#yyyy-mm-dd의 그 day
fig.add_trace(go.Scatter(
              x = df2.day,
              y = df2['환기'], #df2.환기로 해도 되는데 가끔 에러남
              #한글은 대괄호 안에 df2['환기'] 이런식을 적어주는게 좋음
              name = '환기', #name은 범례와 같은 기능
              line_color='#5E0DAC'))

fig.add_trace(go.Scatter(
    x = df2.day,
    y = df2['콘센트'],
    name = '콘센트',
    line_color='black'
    ))

fig.add_trace(go.Scatter(
    x = df2.day,
    y = df2['냉방'],
    name = '냉방',
    line_color='blue'))

fig.add_trace(go.Scatter(
    x = df2.day,
    y = df2['난방'],
    name = '난방',
    line_color='red'))

fig.add_trace(go.Scatter(
    x = df2.day,
    y = df2['조명'],
    name = '조명',
    line_color='yellow'))

fig.add_trace(go.Scatter(
    x = df2.day,
    y = df2['기타'],
    name = '기타',
    line_color='pink'))

fig.update_layout(title_text='5월에 쓴 전체 에너지')
fig.show()


#line_color는 색상표 참고해서 하면 됨

In [ ]:
fig = go.Figure()
#yyyy-mm-dd의 그 day
fig.add_trace(go.Scatter(
              x = df.day,
              y = df['환기'], #df2.환기로 해도 되는데 가끔 에러남
              #한글은 대괄호 안에 df2['환기'] 이런식을 적어주는게 좋음
              name = '환기', #name은 범례와 같은 기능
              line_color='#5E0DAC'))


fig.add_trace(go.Scatter(
    x = df.day,
    y = df['기타'],
    name = '기타',
    line_color='pink'))


fig.add_trace(go.Scatter(
    x = df.day,
    y = df['콘센트'],
    name = '콘센트',
    line_color='black'
    ))



fig.add_trace(go.Scatter(
    x = df.day,
    y = df['냉방'],
    name = '냉방',
    line_color='blue'))

fig.add_trace(go.Scatter(
    x = df.day,
    y = df['조명'],
    name = '조명',
    line_color='yellow'))



fig.add_trace(go.Scatter(
    x = df.day,
    y = df['난방'],
    name = '난방',
    line_color='red'))







fig.update_layout(title_text='전체 에너지 사용량')
fig.show()


#line_color는 색상표 참고해서 하면 됨

#히트맵(heatmap)으로 에너지 분석 완성하기!<br>
몇 월, 무슨 요일에 가장 에너지를 많이 사용했을까?

전체 에너지 데이터를 한번에 보고 싶어요

In [36]:
#gapminder 변수 지정
gapminder = pd.read_excel('energy.xlsx')
gapminder.head()

                 dttm   weekday        day  ...        난방        조명        기타
0 2018-12-01 00:15:00  Saturday 2018-12-01  ...  1.400422  1.370104  1.943357
1 2018-12-01 00:30:00  Saturday 2018-12-01  ...  1.438566  1.407422  1.996293
2 2018-12-01 00:45:00  Saturday 2018-12-01  ...  1.400422  1.370104  1.943368
3 2018-12-01 01:00:00  Saturday 2018-12-01  ...  1.400422  1.370104  1.943379
4 2018-12-01 01:15:00  Saturday 2018-12-01  ...  1.367728  1.338117  1.898016

[5 rows x 15 columns]

월별, 요일별 가장 많이 사용한 에너지의 정보를 한 눈에 보고 싶다

월별(month), 요일별(weekday), 평균 온도(avg_temperature) 사용 정보를 heatmap으로 표현

In [37]:
df_heat = gapminder[['weekday', 'month', 'avg_temperature']]
df_heat

        weekday  month  avg_temperature
0      Saturday     12              5.5
1      Saturday     12              5.5
2      Saturday     12              5.5
3      Saturday     12              5.5
4      Saturday     12              5.5
...         ...    ...              ...
32154  Thursday     10             14.8
32155  Thursday     10             14.8
32156  Thursday     10             14.8
32157  Thursday     10             14.8
32158  Thursday     10             14.8

[32159 rows x 3 columns]

#pivot_table<br> 그래프를 재구조화함
<br> 세로로 된 애들을 가로로 변경

# x축에 요일이 넣고 싶으면 컬럼에 넣고<br> y축에 월을 넣고 싶으면 index에 month를 넣는다
# 내가 정말 표현할 값을 values에 넣는다

In [38]:
heatmap_data = pd.pivot_table(
    df_heat,
    values = 'avg_temperature',
    index = ['month'],
    columns = 'weekday'
    )

# x축에 요일이 넣고 싶으면 컬럼에 넣고 y축에 월을 넣고 싶으면 index에 month를 넣는다
# 내가 정말 표현할 값을 values에 넣는다

In [39]:
heatmap_data

weekday  Friday  Monday   Saturday  Sunday  Thursday  Tuesday  Wednesday
month
1         0.175  -0.125   0.275000  -0.775    -1.260   -1.740     -2.200
2        -1.250   0.500   0.025000   0.700     1.600    2.200      3.125
3         6.140   7.725   5.560000   6.900     7.125    8.425      8.450
4        11.250  12.200  11.750000  12.475    11.125   13.340     12.375
5        20.520  16.850  21.500000  21.175    19.780   17.475     18.500
6        22.450  22.100  22.000000  22.720    23.100   22.375     22.850
7        26.225  25.400  27.750000  25.950    25.125   26.060     24.940
8        26.580  27.450  26.880000  27.325    26.280   28.675     27.600
9        22.775  23.280  22.850000  22.760    21.600   22.800     22.250
10       18.725  14.800  15.900000  15.700    17.220   16.580     15.600
12       -4.150   0.580  -1.193946  -0.720    -1.625    2.525      0.150

In [ ]:
sns.heatmap(heatmap_data, cmap='YlGnBu') # ( , a) 어떤 형식 그래프 a를 쓸 건지

#Y는 yello G는 green B는 blue
#파랑색은 그래프가 긍정적으로 보여서 색상을 잘 쓰는 것이 중요하다

#더 디테일 하게 heatmap 그려보기

In [ ]:
#cmap 종류 참고 https://matplotlib.org/stable/tutorials/colors/colormaps.html

sns.heatmap(heatmap_data, annot = True, linewidths=.5, cmap='YlGnBu')
#annot = True  ===> 주석처럼 데이터의 값을 붙여줘라
#linewidths=  ==>> 흰라인을 넣어서 나뉘게 됨


##### 전반적으로 이해하고 싶으면 숫자를 없애는 경우도 있음

위의 그래프를 빨간 계열로 그려보기<br> cmap='Reds'

In [ ]:
sns.heatmap(heatmap_data, annot = True, linewidths=.5, cmap='Reds')

In [43]:
#제일 높았던 곳 제일 낮았던 곳

In [ ]:
df_heat1 = gapminder[['weekday', 'month', 'max_temperature']]
df_heat1

In [45]:
heatmap_data = pd.pivot_table(
    df_heat1,
    values = 'max_temperature',
    index = ['month'],
    columns = 'weekday'
    )

In [ ]:
heatmap_data

In [ ]:
sns.heatmap(heatmap_data, annot = True, linewidths=.5, cmap='OrRd')

In [ ]:
df_heat2 = gapminder[['weekday', 'month', 'min_temperature']]
df_heat2

In [49]:
heatmap_data = pd.pivot_table(
    df_heat2,
    values = 'min_temperature',
    index = ['month'],
    columns = 'weekday'
    )

In [ ]:
heatmap_data

In [ ]:
sns.heatmap(heatmap_data, annot = True, linewidths=.5, cmap='PuBu')