데이터 준비하기

In [ ]:
import pandas as pd
# niaaa-report2009.csv; 미국 국립 알코올 남용 및 중독 연구소에서 발표한 2011년 실태조사 보고서 중 2009년 1년치 데이터
alco2009=pd.read_csv('/content/niaaa-report2009.csv', index_col='State')
alco2009.head()

            Beer  Wine  Spirits
State
Alabama     1.20  0.22     0.58
Alaska      1.31  0.54     1.16
Arizona     1.19  0.38     0.74
Arkansas    1.07  0.17     0.60
California  1.05  0.55     0.73

In [ ]:
alco2009.tail()

               Beer  Wine  Spirits
State
Virginia       1.11  0.43     0.59
Washington     1.09  0.51     0.74
West Virginia  1.24  0.10     0.45
Wisconsin      1.49  0.31     1.16
Wyoming        1.45  0.22     1.10

In [ ]:
alco2009

                      Beer  Wine  Spirits
State
Alabama               1.20  0.22     0.58
Alaska                1.31  0.54     1.16
Arizona               1.19  0.38     0.74
Arkansas              1.07  0.17     0.60
California            1.05  0.55     0.73
Colorado              1.22  0.46     1.00
Connecticut           0.89  0.59     0.86
Delaware              1.31  0.57     1.25
District of Columbia  1.26  1.00     1.64
Florida               1.21  0.48     0.92
Georgia               1.08  0.25     0.64
Hawaii                1.30  0.53     0.75
Idaho                 1.05  0.92     0.70
Illinois              1.22  0.39     0.73
Indiana               1.09  0.25     0.73
Iowa                  1.42  0.18     0.72
Kansas                1.18  0.14     0.67
Kentucky              1.11  0.18     0.65
Louisiana             1.50  0.28     0.85
Maine                 1.24  0.42     0.83
Maryland              0.97  0.37     0.87
Massachusetts         1.02  0.61     0.84
Michigan              1.10  0.31     0.80
Minnesota             1.19  0.37     1.04
Mississippi           1.41  0.11     0.71
Missouri              1.30  0.30     0.83
Montana               1.66  0.45     0.88
Nebraska              1.46  0.20     0.68
Nevada                1.57  0.58     1.15
New Hampshire         1.72  0.84     1.82
New Jersey            0.92  0.57     0.87
New Mexico            1.37  0.32     0.74
New York              0.91  0.46     0.69
North Carolina        1.10  0.34     0.58
North Dakota          1.63  0.25     1.16
Ohio                  1.28  0.26     0.47
Oklahoma              1.18  0.18     0.58
Oregon                1.28  0.49     0.82
Pennsylvania          1.35  0.23     0.61
Rhode Island          1.10  0.53     0.92
South Carolina        1.36  0.24     0.77
South Dakota          1.53  0.22     0.88
Tennessee             1.05  0.21     0.57
Texas                 1.42  0.28     0.58
Utah                  0.70  0.17     0.46
Vermont               1.36  0.63     0.70
Virginia              1.11  0.43     0.59
Washington            1.09  0.51     0.74
West Virginia         1.24  0.10     0.45
Wisconsin             1.49  0.31     1.16
Wyoming               1.45  0.22     1.10

In [ ]:
alco2009.size #raw, column을 곱한 값

153

In [ ]:
alco2009.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Beer     51 non-null     float64
 1   Wine     51 non-null     float64
 2   Spirits  51 non-null     float64
dtypes: float64(3)
memory usage: 4.1+ KB

In [ ]:
alco2009.shape

(51, 3)

In [ ]:
alco2009['Wine'].head()

State
Alabama       0.22
Alaska        0.54
Arizona       0.38
Arkansas      0.17
California    0.55
Name: Wine, dtype: float64

In [ ]:
alco2009.Wine.head()
#위와 같은 결과 다른 방식

State
Alabama       0.22
Alaska        0.54
Arizona       0.38
Arkansas      0.17
California    0.55
Name: Wine, dtype: float64

In [ ]:
#새로운 열 추가
alco2009['Total']=0
alco2009.head()

            Beer  Wine  Spirits  Total
State
Alabama     1.20  0.22     0.58      0
Alaska      1.31  0.54     1.16      0
Arizona     1.19  0.38     0.74      0
Arkansas    1.07  0.17     0.60      0
California  1.05  0.55     0.73      0

In [ ]:
#인덱스 변경하기 (어떤 열이라도 데이터 프레임의 인덱스가 될 수 있음)
alco2009.reset_index().set_index('Beer').head()

           State  Wine  Spirits  Total
Beer
1.20     Alabama  0.22     0.58      0
1.31      Alaska  0.54     1.16      0
1.19     Arizona  0.38     0.74      0
1.07    Arkansas  0.17     0.60      0
1.05  California  0.55     0.73      0

In [ ]:
alco2009.reset_index().set_index('State').head()

            Beer  Wine  Spirits  Total
State
Alabama     1.20  0.22     0.58      0
Alaska      1.31  0.54     1.16      0
Arizona     1.19  0.38     0.74      0
Arkansas    1.07  0.17     0.60      0
California  1.05  0.55     0.73      0

In [ ]:
alco2009.loc['Nebraska'] #pandas 1.0.0 버전부터 deprecated

Beer       1.46
Wine       0.20
Spirits    0.68
Total      0.00
Name: Nebraska, dtype: float64

In [ ]:
#in 연산자 데이터 프레임의 특정 레이블을 가진 행이 있는지 확인
'Samoa' in alco2009.index

False

In [ ]:
'Nebraska' in alco2009.index

True